/* Importación de fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    list-style: none;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    letter-spacing: 1px; 
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-transform: uppercase; 
}
  
a {
    font-weight: 600;
    text-transform: uppercase;
    color: #382d34;
    text-decoration: none; 
}
  
a:hover {
    color: #a28d9c; 
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-dark {
    background-color: #382d34 !important;;
}

.header__logo {
  max-width: 100%;
  width: 180px; }


.header .nav-link {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px; }


.navbar {
  transition: all 0.2s ease; }

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; }

.navbar-dark .navbar-nav .nav-link.active {
  color: #8b7083; }

.navbar-dark .navbar-nav .nav-link:active {
  color: #8b7083; } 


/*Nombre de sección*/
#link-section {
    background-color: #8B7083;
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    width: 100vw;
    padding-top: 76.234px;
    padding-bottom: 8px;
    z-index: 2;
}

.btn {
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; }
  
.btn-primary {
    background-color: #53434f;
    border-color: #53434f;
    border-radius: 100px; }
  
.btn-primary:hover {
    background-color: transparent;
    border-color: #53434f;
    color: #53434f; }

#definition {
    background-color: #ae9ba8;
    padding-top: 122.234px;
    padding-bottom: 8px;
    position: fixed;
    width: 100vw;
    z-index: 1;
    margin: 0px;
}

.definition__paragraph {
    margin: 0;
}

/*Contenido*/
#contenido {
    /* padding-top: 198.719px; */
    padding-top: 234.232px;
    /* padding-top: 278.719px; */
    z-index: -999;
}

/*Categorías*/

.categorie__container {
  border: 2px solid #382d34;
  padding: 40px 40px 0px 40px;;
}

.categorie__title {
  text-align: center;
  font-weight: 600;
}

.categorie__list {
  margin: 25px 0px;
}

.categorie__item {
  padding: 10px 0px;
}

.categorie__link {
  font-weight: 400;
  color: #382d34;
}

.categorie__link:hover{
  color: #a28d9c;
}

.separator {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .categorie__container {
    margin-bottom: 60px;
  }

  .separator {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .categorie__container {
    margin-bottom: 60px;
  }

  .separator {
    display: none;
  }
}


/*Productos*/

.product {
  position: relative;
  /* overflow: hidden;  */
}
  .product .product__image {
    width: 100%;
    object-fit: cover; 
  }

  .product__overlay {
    position: relative;
    z-index: -1000; }
  
  .product__overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #8B708315;
    /* z-index: -9999;  */
  }

.product__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
}

.product__title:hover {
    color: #a28d9c;
}

.product .product__container--price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px; 
    text-align: center;
  }

.product .product__container--price .product__paragraph--strikethrough {
    color: #cdc1c7;
    text-decoration: line-through; 
  }


/*Footer*/
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #110f10; }
    .footer .footer__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .footer .footer__container .footer__tab--socialNetwork {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin: 10px;
        font-size: 28px; }
        .footer .footer__container .footer__tab--socialNetwork .iconify {
          color: #FFFFFF;
          transition: all ease-in-out 0.15s;
          font-size: 24px; }
        .footer .footer__container .footer__tab--socialNetwork .iconify:hover {
          color: #a28d9c; }
      .footer .footer__container .footer__tab {
        display: flex;
        justify-content: center; }
      .footer .footer__container .footer__copyright {
        font-weight: 300;
        text-align: center; }
    .footer a {
      color: #FFFFFF;
      margin: 10px;
      font-weight: 500; }
  
  .footer__link:hover {
    color: #a28d9c;
    transition: all .5s; }
  
  .footer__link:active {
    color: #a28d9c;
    transition: all .5s; 
}
  
  @media (max-width: 767.98px) {
    .footer__tab--socialNetwork {
      font-size: 22px; }
    .footer__link {
      font-size: 16px; }
    .footer__copyright {
      font-size: 14px; } }
  
  @media (max-width: 575.98px) {
    .footer__tab--socialNetwork {
      font-size: 18px; }
    .footer__link {
      font-size: 14px; }
    .footer__copyright {
      font-size: 12px; } }
  